## 리스트

월별 지출을 정리하는 가계부 프로그램을 만든다고 한다면

지출을 월별로 저장해야 하므로 변수 12개가 필요할 것이다.
하지만 리스트라는 것을 배우면 한번에 데이터를 묶을 수 있다.

In [1]:
spending = [25, 36, 8, 53, 24, 56]

In [2]:
abc = [1, 2, 3, 4, 5]
print(abc)

[1, 2, 3, 4, 5]

In [3]:
print(*abc)

1 2 3 4 5

In [4]:
print(type(abc), abc)

<class 'list'> [1, 2, 3, 4, 5]

In [5]:
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(type(spending_year), spending_year)

<class 'list'> [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]

In [6]:
print(len(spending_year))

12

In [8]:
food = ['피자', '치킨', '떡볶이', '스테이크', '딸기', '파스타']
print(food)

['피자', '치킨', '떡볶이', '스테이크', '딸기', '파스타']

In [9]:
print('좋아하는 음식 개수: ' , len(food))
print('좋아하는 음식 순서: ', food)

좋아하는 음식 개수:  6
좋아하는 음식 순서:  ['피자', '치킨', '떡볶이', '스테이크', '딸기', '파스타']

In [10]:
print(food[0])

피자

In [11]:
spending = [25, 36, 8, 53, 24, 56]
print('3월 지출 변경 전: ', spending)

spending[2] += 10
print('3월 지출 변경 후: ', spending)

3월 지출 변경 전:  [25, 36, 8, 53, 24, 56]
3월 지출 변경 후:  [25, 36, 18, 53, 24, 56]

### 반복문으로 리스트 다루기

In [13]:
for i in [25, 36, 8, 53, 24, 56]:
    print(i, end=' ')

25 36 8 53 24 56

In [18]:
spending = [25, 36, 8, 53, 24, 56]
for i in range(len(spending)):
    print(spending[i], end = ' ')

25 36 8 53 24 56

### 음수 인덱스 사용

In [20]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
print(food[-1])
print(food[-2])
print(food[-3])

파스타
스테이크
떡볶이

### 데이터 추가

In [21]:
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [22]:
food.append('카레')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩', '카레']

In [23]:
abc = []
abc.append(24)
abc.append(38)
abc.append(19)
abc.append(40)
print(abc)

[24, 38, 19, 40]

### 데이터 삭제

In [24]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
food.remove('떡볶이')
print(food)

['피자', '치킨', '스테이크', '파스타']

In [25]:
del food[-2]
print(food)

['피자', '치킨', '파스타']

### 데이터 슬라이싱

In [28]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
print(food[0:3])
print(food[2:4])
print(food[:3])

['피자', '치킨', '떡볶이']
['떡볶이', '스테이크']
['피자', '치킨', '떡볶이']

### 문자열 나누기

문자열.split()

In [30]:
a = '나는야 우주최강'
data = a.split()
print(data)
print(data[0], data[1])

['나는야', '우주최강']
나는야 우주최강

In [31]:
data = '2020-08-15'
data_1 = data.split('-')
print(data_1[0], data_1[1], data_1[2])

2020 08 15

### 다양한 리스트 명령어 사용하기

In [32]:
food = ['피자', '치킨', '스테이크', '된장찌개', '바나나', '파스타', '감자칩']
food.sort()
print(food)

['감자칩', '된장찌개', '바나나', '스테이크', '치킨', '파스타', '피자']

In [33]:
food.sort(reverse=True)
print(food)

['피자', '파스타', '치킨', '스테이크', '바나나', '된장찌개', '감자칩']

In [34]:
spending_6mon = [25, 36, 8, 53, 24, 56]
print(max(spending_6mon), min(spending_6mon))

56 8

In [35]:
print(sum(spending_6mon))

202

In [36]:
print(spending_6mon.index(24))

4

In [37]:
import random

score = []
for i in range(25):
    score.append(random.randint(0, 100))
    print(score)

[0]
[0, 40]
[0, 40, 48]
[0, 40, 48, 91]
[0, 40, 48, 91, 84]
[0, 40, 48, 91, 84, 48]
[0, 40, 48, 91, 84, 48, 64]
[0, 40, 48, 91, 84, 48, 64, 87]
[0, 40, 48, 91, 84, 48, 64, 87, 100]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86, 77]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86, 77, 86]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86, 77, 86, 61]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86, 77, 86, 61, 58]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86, 77, 86, 61, 58, 37]
[0, 40, 48, 91, 84, 48, 64, 87, 100, 32, 72, 49, 54, 99, 41, 85, 53, 12, 86, 77, 86, 61, 58, 37, 77]

### 2차원 리스트

In [38]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [39]:
print(abc[0][1])
print(abc[1][2])

2
6

In [41]:
for row in abc:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [42]:
for row in abc:
    print(row[0])

1
4
7

In [43]:
for row in abc:
    print(row[-1])

3
6
9

In [45]:
for i in range(3):
    for j in range(3):
        print(abc[i][j], end=' ')

1 2 3 4 5 6 7 8 9