## 변수

변수는 여러 가지 값으로 변하는 수를 의미한다
b = a + 1처럼 문자와 숫자를 기호로 연결해서 계산하는 수식에서
a가 10일때 b = 10 + 1로 11이 된다.

프로그래밍에서 코드로 a = 10이라 작성하면 a에 10을 넣는다는 의미이다.

In [1]:
a = 10

In [2]:
print(a)

10

In [3]:
a = 10
print('a')
print(a)

a
10

In [5]:
b = "학생"
print(b)

학생

In [7]:
b = "학생"
c = "고등"
print(c + b)

고등학생

In [8]:
b = "학생"
c = "고등"
print(c + b)
c = "대"
print(c + b)

고등학생
대학생

In [9]:
name = '유리'
height = 175.5
weight = '비밀'
hobby = 'programming'
print(name, height, weight, hobby)

유리 175.5 비밀 programming

In [10]:
print(name, '키는', height, ', 몸무게는', weight, ', 취미는', hobby, '입니다!')

유리 키는 175.5 , 몸무게는 비밀 , 취미는 programming 입니다!

### format() 명령어를 이용

In [11]:
name = '제임스'
height = 186
weight = 80
hobby = '요리하기'
print(name, '키는', height, ', 몸무게는', weight, ', 취미는', hobby, '입니다!')
print("{} 키는 {}, 몸무게는 {}, 취미는 {}입니다.".format(name, height, weight, hobby))

제임스 키는 186 , 몸무게는 80 , 취미는 요리하기 입니다!
제임스 키는 186, 몸무게는 80, 취미는 요리하기입니다.

In [12]:
p = 3.141592
r = 5
print('원의 넓이 = ', p * r ** 2)

원의 넓이 =  78.5398

In [14]:
p = 3.141592
r = 5
result = p * r ** 2
print(result)

78.5398

### 변수를 사용하는 이유

변수를 만들어사용하면 코드도 길어지고 번거롭다고 느낄 것이다.
하지만, 원의 넓이를 구한다고 생각해보자
3.14라고 줄여서 표현하지만 실제로 긴 데이터를 일일이 기억하면서 사용하지 않을 수 있기에 변수를 사용하면 편리하다

In [16]:
p = 3.141592
r = 5

# 원의 넓이
result1 = p * r ** 2
print('원의 넓이 = ', result)

# 원의 둘레
result2 = 2* p * r
print('원의 둘레 = ', result2)

# 구의 겉넓이
result3 = 4 * p * r ** 2
print('구의 겉넓이 = ', result3)

원의 넓이 =  78.5398
원의 둘레 =  31.41592
구의 겉넓이 =  314.1592

### 주석
주석으로는 """  """, #을 이용할 수 있다.

#### 예제

In [17]:
p = 3.141592
r = input('반지름은 ?')

result1 = p * r ** 2
result2 = 2 * p * r
result3 = 4 * p * r ** 2
print('원의 넓이 = ', result, '원의 둘레 = ', result2, '구의 겉넓이 = ', result3)

반지름은 ?999

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

오류가 발생하는 이유는 input()으로 입력받으면 문자열로 받아들이기에 강제형변환을 해줘야한다.

In [21]:
p = 3.141592
r = int(input('반지름은 ?'))

result1 = p * r ** 2
result2 = 2 * p * r
result3 = 4 * p * r ** 2
print('원의 넓이 = ', result, '원의 둘레 = ', result2, '구의 겉넓이 = ', result3)

반지름은 ?999
원의 넓이 =  78.5398 원의 둘레 =  6276.900816 구의 겉넓이 =  12541247.830368001

변수명은 변수명을 보고만 무슨 값을 담고있는지 잘 정의해야한다.

In [23]:
name = input('이름 : ')
age = input('나이 : ')
feature = input('특징 : ')
print(name + '(' + age + ')', feature)
print(feature + '인', name)

이름 : 고라니
나이 : 4
특징 : 애교가 많은 편
고라니(4) 애교가 많은 편
애교가 많은 편인 고라니

In [24]:
year = 2017
height = 175.5
print(year, '년 -', height, 'cm')

2017 년 - 175.5 cm

In [25]:
year = year + 1
height = height + 10
print(year, '년 -', height, 'cm')

2018 년 - 185.5 cm

In [26]:
year += 1
height += 10
print(year, '년 -', height, 'cm')

2019 년 - 195.5 cm

In [27]:
year += 1
height += 10
print(year, '년 -', height, 'cm')

2020 년 - 205.5 cm

### 데이터 타입

type()은 데이터 타입을 알려주는 명령어이다.

In [28]:
height = 175.5
print(type(height))

<class 'float'>

In [29]:
name = '제임스'
print(type(name))

<class 'str'>

In [30]:
p = 3.141592
r = input('반지름은 ?')

result1 = p * r ** 2
result2 = 2 * p * r
result3 = 4 * p * r ** 2
print('원의 넓이 = ', result, '원의 둘레 = ', result2, '구의 겉넓이 = ', result3)

반지름은 ?999

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

데이터타입을 배웠으니 위의 오류를 해결할 수있다.

데이터 타입을 바꿔서 적용하자

In [31]:
score = 79
print(type(score), score)

<class 'int'> 79

In [32]:
score = float(score)
print(type(score), score)

<class 'float'> 79.0

In [33]:
avg = 84.3
print(type(avg), avg)

# 정수형으로 바꾸기
avg = int(avg)
print(type(avg), avg)

<class 'float'> 84.3
<class 'int'> 84

In [34]:
x = 32
y = 32.9
x = str(x)
y = str(y)
print(type(x), type(y))
print(x + y)

<class 'str'> <class 'str'>
3232.9

In [37]:
# 문자열을 숫자형으로
a = '30'
print(type(a), a)
print(type(a), a * 3)
a = int(a)
print(type(a), a * 3)

<class 'str'> 30
<class 'str'> 303030
<class 'int'> 90

### 변수를 사용해 간단한 프로그램 만들기

Q1. 마트에서 과자와 라면, 햄을 사려고한다. 과자와 라면, 햄의 개수를 각각 입력받아 총 금액이 얼마인지 알려주느 프로그램을 작성해보자
과자는 1200원, 라면은 800원, 햄은 2400원

In [39]:
snack_count = int(input('과자를 몇 개 구매하겠습니까? '))
remen_count = int(input('라면을 몇개 구매하시겠습니까? '))
ham_count = int(input('햄을 몇 개 구매하시겠습니까? '))

price = snack_count * 1200 + remen_count * 800 + ham_count * 2400
print('총 금액', price)

과자를 몇 개 구매하겠습니까? 3
라면을 몇개 구매하시겠습니까? 5
햄을 몇 개 구매하시겠습니까? 2
총 금액 12400

Q2. 마트에서 25% 할인 행사를 한다. 수정해보자

In [40]:
snack_count = int(input('과자를 몇 개 구매하겠습니까? '))
remen_count = int(input('라면을 몇개 구매하시겠습니까? '))
ham_count = int(input('햄을 몇 개 구매하시겠습니까? '))

price = snack_count * 1200 + remen_count * 800 + ham_count * 2400
print('총 금액', price, '할인 후 금액:', price * 0.75)

과자를 몇 개 구매하겠습니까? 3
라면을 몇개 구매하시겠습니까? 5
햄을 몇 개 구매하시겠습니까? 2
총 금액 12400 할인 후 금액: 9300.0

Q3. 정수 두개를 입력받아 사칙연산하는 프로그램을 작성해라

In [42]:
num1 = int(input('숫자1 입력: '))
num2 = int(input('숫자2 입력: '))
add = num1 + num2;
sub = num1 - num2;
mul = num1 * num2;
div = num1 / num2;
print('두 수를 더한 값:',add)
print('두 수를 뺀 값:', sub)
print('두 수를 곱한 값:', mul)
print('두 수를 나눈 값:', div)

숫자1 입력: 12
숫자2 입력: 4
두 수를 더한 값: 16
두 수를 뺀 값: 8
두 수를 곱한 값: 48
두 수를 나눈 값: 3.0